### NBA Match Prediction Accuracy with Machine Learning

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('nba_games.csv', index_col = 0)

In [7]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
1,240.0,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,...,50.0,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False
2,240.0,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,...,20.0,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False
3,240.0,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,...,28.6,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True
4,240.0,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,...,16.8,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,240.0,35.0,81.0,0.432,11.0,26.0,0.423,27.0,36.0,...,34.2,33.7,160.0,118.0,OKC,92,0,2019,2018-10-19,True
17768,240.0,240.0,37.0,74.0,0.500,13.0,25.0,0.520,26.0,37.0,...,25.0,30.0,139.0,129.0,ORL,108,1,2017,2016-12-14,True
17769,240.0,240.0,42.0,89.0,0.472,14.0,33.0,0.424,10.0,20.0,...,25.6,29.9,175.0,126.0,LAC,113,0,2017,2016-12-14,False
17770,240.0,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,...,27.7,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True
17771,240.0,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,...,51.5,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False

In [11]:
df = df.sort_values("date")

In [12]:
df = df.reset_index(drop= True)

In [13]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [15]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,42.9,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

In [18]:
def add_target(team):
    team["target"] = team['won'].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(add_target)

In [20]:
df[df["team"] == "GSW"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,True
57,240.0,43.0,93.0,0.462,9.0,26.0,0.346,17.0,25.0,0.680,...,37.5,151.0,118.0,HOU,92,1,2016,2015-10-30,True,True
72,240.0,46.0,84.0,0.548,17.0,30.0,0.567,25.0,35.0,0.714,...,36.1,218.0,131.0,NOP,120,1,2016,2015-10-31,True,True
95,240.0,43.0,84.0,0.512,11.0,25.0,0.440,22.0,30.0,0.733,...,44.3,106.0,126.0,MEM,69,0,2016,2015-11-02,True,True
119,240.0,39.0,85.0,0.459,10.0,26.0,0.385,24.0,31.0,0.774,...,32.9,250.0,122.0,LAC,108,0,2016,2015-11-04,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17762,240.0,39.0,86.0,0.453,15.0,37.0,0.405,14.0,20.0,0.700,...,35.2,300.0,117.0,BOS,88,0,2022,2022-06-05,True,False
17764,240.0,36.0,78.0,0.462,15.0,40.0,0.375,13.0,15.0,0.867,...,28.8,175.0,117.0,BOS,116,1,2022,2022-06-08,False,True
17766,240.0,40.0,91.0,0.440,15.0,43.0,0.349,12.0,15.0,0.800,...,32.4,205.0,120.0,BOS,97,1,2022,2022-06-10,True,True
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True,True
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True,NaN

In [22]:
df["team"]

0        NOP
1        CLE
2        CHI
3        GSW
4        ATL
        ...
17767    BOS
17768    GSW
17769    BOS
17770    BOS
17771    GSW
Name: team, Length: 17772, dtype: object

In [88]:
df.loc[pd.isnull(df["target"]), "target"] = 2

In [25]:
df["target"] = df["target"].astype(int, errors="ignore")

In [26]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False,0
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True,1
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False,0
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False,2
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True,2

In [27]:
df["won"].value_counts()

False    8886
True     8886
Name: won, dtype: int64

In [28]:
df["target"].value_counts()

1    8872
0    8870
2      30
Name: target, dtype: int64

In [29]:
nulls = pd.isnull(df)
nulls

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17768,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17769,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17770,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17771,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
nulls = nulls.sum()

In [34]:
nulls = nulls[nulls > 0]
nulls

+/-             17772
mp_max          17772
mp_max.1        17772
+/-_opp         17772
mp_max_opp      17772
mp_max_opp.1    17772
dtype: int64

In [35]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [36]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [37]:
df = df[valid_columns].copy()

In [38]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False,0
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True,1
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False,0
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False,2
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True,2

In [42]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr,n_features_to_select = 30, direction="forward",cv= split)

In [43]:
removed_columns = ["season", "date", "won", "target", "team", "team_opp"]

In [44]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [45]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [46]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.363636,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,0.277279,0.554502,0.317647,GSW,0.451923,1.0,2016,2015-10-27,False,0
1,0.0,0.431818,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,0.160462,0.345972,0.317647,CHI,0.317308,1.0,2016,2015-10-27,False,1
2,0.0,0.409091,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,0.088575,0.232227,0.329412,CLE,0.298077,0.0,2016,2015-10-27,True,1
3,0.0,0.500000,0.529412,0.377990,0.310345,0.393939,0.356295,0.441860,0.333333,0.893816,...,0.215661,0.530806,0.505882,NOP,0.298077,0.0,2016,2015-10-27,True,1
4,0.0,0.409091,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,0.019255,0.203791,0.317647,DET,0.403846,0.0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.182285,0.208531,0.411765,GSW,0.413462,0.0,2022,2022-06-10,False,0
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.928113,1.000000,0.411765,BOS,0.288462,0.0,2022,2022-06-13,True,1
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.181001,0.630332,0.352941,GSW,0.384615,1.0,2022,2022-06-13,False,0
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.120668,0.459716,0.400000,GSW,0.375000,0.0,2022,2022-06-16,False,2
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.263158,0.246445,0.576471,BOS,0.250000,1.0,2022,2022-06-16,True,2

In [58]:
sfs.fit(df[selected_columns], df["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)

In [59]:
predictors = list(selected_columns[sfs.get_support()])

In [62]:
predictors

['mp',
 'fg%',
 'orb',
 'usg%',
 '3p%_max',
 'tov_max',
 '+/-_max',
 'efg%_max',
 'drb%_max',
 'trb%_max',
 'tov%_max',
 'usg%_max',
 'ortg_max',
 'home',
 'mp_opp',
 '3p_opp',
 'blk_opp',
 'ftr_opp',
 'usg%_opp',
 'fga_max_opp',
 '3p%_max_opp',
 'ft_max_opp',
 'blk_max_opp',
 'pf_max_opp',
 'pts_max_opp',
 'ftr_max_opp',
 'drb%_max_opp',
 'stl%_max_opp',
 'blk%_max_opp',
 'home_opp']

In [66]:
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = []
    seasons= sorted(data["season"].unique())
    
    for i in range(start, len(seasons), step):
        season = seasons[i]
        train = data[data["season"] < season]
        test = data[data["season"] == season]
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index = test.index)
        
        combined = pd.concat([test["target"], preds], axis = 1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [65]:
sorted(df["season"].unique())

[2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [67]:
predictions = backtest(df, rr, predictors)

In [68]:
predictions

       actual  prediction
5250        1           1
5251        1           1
5252        0           0
5253        1           0
5254        0           1
...       ...         ...
17767       0           1
17768       1           1
17769       0           1
17770       2           1
17771       2           1

[12522 rows x 2 columns]

In [70]:
from sklearn.metrics import accuracy_score

predictions = predictions[predictions["actual"] != 2]
accuracy_score(predictions["actual"], predictions["prediction"])

0.5401857188600705

In [71]:
df.groupby('home').apply(lambda x: x[x["won"] == 1].shape[0]/ x.shape[0])

home
0.0    0.428314
1.0    0.571686
dtype: float64

In [73]:
df_rolling = df[list(selected_columns) + ['won',"team","season"]]
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,team,season
0,0.0,0.363636,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,0.079,0.679245,0.277279,0.554502,0.317647,0.451923,1.0,False,NOP,2016
1,0.0,0.431818,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,0.140,0.509434,0.160462,0.345972,0.317647,0.317308,1.0,False,CLE,2016
2,0.0,0.409091,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,0.185,0.270440,0.088575,0.232227,0.329412,0.298077,0.0,True,CHI,2016
3,0.0,0.500000,0.529412,0.377990,0.310345,0.393939,0.356295,0.441860,0.333333,0.893816,...,0.063,0.344864,0.215661,0.530806,0.505882,0.298077,0.0,True,GSW,2016
4,0.0,0.409091,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,0.047,0.300839,0.019255,0.203791,0.317647,0.403846,0.0,False,ATL,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.103,0.401468,0.182285,0.208531,0.411765,0.413462,0.0,False,BOS,2022
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.124,0.423480,0.928113,1.000000,0.411765,0.288462,0.0,True,GSW,2022
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.076,0.300839,0.181001,0.630332,0.352941,0.384615,1.0,False,BOS,2022
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.063,0.300839,0.120668,0.459716,0.400000,0.375000,0.0,False,BOS,2022
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.160,1.000000,0.263158,0.246445,0.576471,0.250000,1.0,True,GSW,2022

In [89]:
def find_team_averages(team):
    rolling = team.rolling(15).mean()
    return rolling

df_rolling = df_rolling.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

In [75]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.406061,0.312745,0.441786,0.482759,0.500000,0.442835,0.410853,0.357672,0.756515,...,0.049867,0.098533,0.422362,0.209499,0.456872,0.522353,0.355128,0.533333,0.600000,2022.0
17768,0.0,0.503030,0.394118,0.495694,0.457471,0.502020,0.427949,0.314729,0.273016,0.761727,...,0.071000,0.113800,0.398672,0.260077,0.590205,0.532549,0.406410,0.400000,0.666667,2022.0
17769,0.0,0.389394,0.303922,0.427911,0.475862,0.494949,0.440143,0.415504,0.369312,0.739168,...,0.051267,0.101200,0.438784,0.189730,0.444550,0.508235,0.352564,0.533333,0.533333,2022.0
17770,0.0,0.377273,0.301961,0.414035,0.478161,0.491919,0.445685,0.412403,0.366138,0.743057,...,0.055333,0.102333,0.441999,0.182456,0.455608,0.500392,0.348077,0.533333,0.533333,2022.0
17771,0.0,0.500000,0.391176,0.494418,0.485057,0.510101,0.446081,0.305426,0.262434,0.778996,...,0.062533,0.118000,0.437526,0.258879,0.559242,0.543529,0.396154,0.400000,0.733333,2022.0

In [76]:
rolling_cols = [f"{col}_15" for col in df_rolling.columns]
df_rolling.columns = rolling_cols

df = pd.concat([df, df_rolling], axis=1)
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_15,blk%_max_opp_15,tov%_max_opp_15,usg%_max_opp_15,ortg_max_opp_15,drtg_max_opp_15,total_opp_15,home_opp_15,won_15,season_15
0,0.0,0.363636,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.431818,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.409091,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.500000,0.529412,0.377990,0.310345,0.393939,0.356295,0.441860,0.333333,0.893816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.409091,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.049867,0.098533,0.422362,0.209499,0.456872,0.522353,0.355128,0.533333,0.600000,2022.0
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.071000,0.113800,0.398672,0.260077,0.590205,0.532549,0.406410,0.400000,0.666667,2022.0
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.051267,0.101200,0.438784,0.189730,0.444550,0.508235,0.352564,0.533333,0.533333,2022.0
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.055333,0.102333,0.441999,0.182456,0.455608,0.500392,0.348077,0.533333,0.533333,2022.0
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.062533,0.118000,0.437526,0.258879,0.559242,0.543529,0.396154,0.400000,0.733333,2022.0

In [78]:
df = df.dropna()

In [79]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_15,blk%_max_opp_15,tov%_max_opp_15,usg%_max_opp_15,ortg_max_opp_15,drtg_max_opp_15,total_opp_15,home_opp_15,won_15,season_15
379,0.0,0.295455,0.382353,0.246411,0.379310,0.363636,0.466746,0.488372,0.380952,0.859977,...,0.059133,0.082067,0.443117,0.136842,0.329226,0.434510,0.346154,0.466667,0.600000,2016.0
392,0.0,0.545455,0.397059,0.538278,0.275862,0.318182,0.380048,0.279070,0.253968,0.725788,...,0.073733,0.096800,0.319147,0.168250,0.441074,0.446275,0.363462,0.600000,0.400000,2016.0
395,0.0,0.636364,0.426471,0.619617,0.517241,0.378788,0.614014,0.186047,0.190476,0.640607,...,0.069600,0.074800,0.439972,0.188190,0.348499,0.532549,0.347436,0.466667,1.000000,2016.0
397,0.0,0.227273,0.264706,0.246411,0.137931,0.196970,0.279097,0.651163,0.476190,0.924154,...,0.072667,0.106200,0.427254,0.226016,0.351975,0.469804,0.312179,0.733333,0.600000,2016.0
402,0.0,0.522727,0.250000,0.660287,0.379310,0.348485,0.483373,0.348837,0.269841,0.870478,...,0.077400,0.075733,0.400140,0.121694,0.378831,0.501961,0.385897,0.400000,0.600000,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.049867,0.098533,0.422362,0.209499,0.456872,0.522353,0.355128,0.533333,0.600000,2022.0
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.071000,0.113800,0.398672,0.260077,0.590205,0.532549,0.406410,0.400000,0.666667,2022.0
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.051267,0.101200,0.438784,0.189730,0.444550,0.508235,0.352564,0.533333,0.533333,2022.0
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.055333,0.102333,0.441999,0.182456,0.455608,0.500392,0.348077,0.533333,0.533333,2022.0
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.062533,0.118000,0.437526,0.258879,0.559242,0.543529,0.396154,0.400000,0.733333,2022.0

In [90]:
def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")

In [84]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp_15,ortg_max_opp_15,drtg_max_opp_15,total_opp_15,home_opp_15,won_15,season_15,home_next,team_opp_next,date_next
379,0.0,0.295455,0.382353,0.246411,0.379310,0.363636,0.466746,0.488372,0.380952,0.859977,...,0.136842,0.329226,0.434510,0.346154,0.466667,0.600000,2016.0,1.0,BOS,2015-11-24
392,0.0,0.545455,0.397059,0.538278,0.275862,0.318182,0.380048,0.279070,0.253968,0.725788,...,0.168250,0.441074,0.446275,0.363462,0.600000,0.400000,2016.0,1.0,CHI,2015-11-24
395,0.0,0.636364,0.426471,0.619617,0.517241,0.378788,0.614014,0.186047,0.190476,0.640607,...,0.188190,0.348499,0.532549,0.347436,0.466667,1.000000,2016.0,1.0,LAL,2015-11-24
397,0.0,0.227273,0.264706,0.246411,0.137931,0.196970,0.279097,0.651163,0.476190,0.924154,...,0.226016,0.351975,0.469804,0.312179,0.733333,0.600000,2016.0,1.0,CLE,2015-11-25
402,0.0,0.522727,0.250000,0.660287,0.379310,0.348485,0.483373,0.348837,0.269841,0.870478,...,0.121694,0.378831,0.501961,0.385897,0.400000,0.600000,2016.0,1.0,BRK,2015-11-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.209499,0.456872,0.522353,0.355128,0.533333,0.600000,2022.0,0.0,GSW,2022-06-13
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.260077,0.590205,0.532549,0.406410,0.400000,0.666667,2022.0,0.0,BOS,2022-06-16
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.189730,0.444550,0.508235,0.352564,0.533333,0.533333,2022.0,1.0,GSW,2022-06-16
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.182456,0.455608,0.500392,0.348077,0.533333,0.533333,2022.0,NaN,NaN,NaN
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.258879,0.559242,0.543529,0.396154,0.400000,0.733333,2022.0,NaN,NaN,NaN

In [85]:
df = df.copy()

In [86]:
full = df.merge(df[rolling_cols + ["team_opp_next", "date_next", "team"]],
               left_on=["team","date_next"],
               right_on=["team_opp_next","date_next"]
               )

In [87]:
full

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp_15_y,usg%_max_opp_15_y,ortg_max_opp_15_y,drtg_max_opp_15_y,total_opp_15_y,home_opp_15_y,won_15_y,season_15_y,team_opp_next_y,team_y
0,0.0,0.590909,0.470588,0.526316,0.413793,0.469697,0.407363,0.186047,0.222222,0.533256,...,0.368693,0.143432,0.497630,0.450196,0.379487,0.400000,0.466667,2016.0,GSW,PHO
1,0.0,0.272727,0.264706,0.306220,0.275862,0.318182,0.380048,0.534884,0.444444,0.799300,...,0.388470,0.152674,0.372196,0.425882,0.254487,0.466667,0.800000,2016.0,DEN,SAS
2,0.0,0.340909,0.382353,0.301435,0.172414,0.181818,0.371734,0.604651,0.492063,0.817970,...,0.447869,0.168250,0.423381,0.440784,0.400000,0.466667,0.400000,2016.0,ORL,MIL
3,0.0,0.340909,0.338235,0.337321,0.206897,0.272727,0.324228,0.186047,0.174603,0.708285,...,0.451293,0.136928,0.400632,0.414902,0.401282,0.400000,0.333333,2016.0,DAL,DEN
4,0.0,0.318182,0.308824,0.330144,0.275862,0.363636,0.339667,0.302326,0.285714,0.693116,...,0.444375,0.137527,0.390837,0.431373,0.397436,0.466667,0.400000,2016.0,SAS,DEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14691,0.0,0.545455,0.426471,0.511962,0.448276,0.469697,0.440618,0.372093,0.365079,0.659277,...,0.386513,0.217715,0.574092,0.537255,0.421154,0.400000,0.666667,2022.0,BOS,GSW
14692,0.0,0.477273,0.455882,0.409091,0.517241,0.590909,0.414489,0.255814,0.222222,0.766628,...,0.422362,0.209499,0.456872,0.522353,0.355128,0.533333,0.600000,2022.0,GSW,BOS
14693,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.389308,0.210783,0.570300,0.538824,0.420513,0.466667,0.666667,2022.0,BOS,GSW
14694,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.438784,0.189730,0.444550,0.508235,0.352564,0.533333,0.533333,2022.0,GSW,BOS
14695,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.398672,0.260077,0.590205,0.532549,0.406410,0.400000,0.666667,2022.0,BOS,GSW

In [88]:
full[["team_x","team_opp_next_x","team_y","team_opp_next_y", "date_next"]]

      team_x team_opp_next_x team_y team_opp_next_y   date_next
0        GSW             PHO    PHO             GSW  2015-11-27
1        DEN             SAS    SAS             DEN  2015-11-27
2        ORL             MIL    MIL             ORL  2015-11-27
3        DAL             DEN    DEN             DAL  2015-11-28
4        SAS             DEN    DEN             SAS  2015-11-27
...      ...             ...    ...             ...         ...
14691    BOS             GSW    GSW             BOS  2022-06-10
14692    GSW             BOS    BOS             GSW  2022-06-13
14693    BOS             GSW    GSW             BOS  2022-06-13
14694    GSW             BOS    BOS             GSW  2022-06-16
14695    BOS             GSW    GSW             BOS  2022-06-16

[14696 rows x 5 columns]

In [90]:
removed_columns = list(full.columns[full.dtypes == "object"])+ removed_columns
removed_columns

['team_x',
 'team_opp',
 'date',
 'team_opp_next_x',
 'date_next',
 'team_opp_next_y',
 'team_y',
 'season',
 'date',
 'won',
 'target',
 'team',
 'team_opp']

In [91]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]

In [92]:
sfs.fit(full[selected_columns], full["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)

In [95]:
predictors = list(selected_columns[sfs.get_support()])

In [96]:
predictors

['orb%',
 'usg%',
 'fg%_max',
 'tov_max',
 'orb%_max',
 'ast%_max',
 'usg%_max',
 'ft_opp',
 'drb%_opp',
 'tov%_opp',
 'usg%_opp',
 'fg%_max_opp',
 'stl%_max_opp',
 'usg%_15_x',
 'fga_max_15_x',
 'tov_max_15_x',
 '+/-_max_15_x',
 'usg%_opp_15_x',
 '3p_max_opp_15_x',
 'pts_max_opp_15_x',
 '+/-_max_opp_15_x',
 'orb%_max_opp_15_x',
 'home_next',
 'usg%_15_y',
 'pts_max_15_y',
 'blk_opp_15_y',
 'usg%_opp_15_y',
 'blk_max_opp_15_y',
 '+/-_max_opp_15_y',
 'won_15_y']

In [97]:
predictions = backtest(full, rr, predictors)
accuracy_score(predictions["actual"], predictions["prediction"])

0.6433133346235727